.git

.settings
.idea

node_modules
obj
bin

typings

admin/i18n/flat.txt
admin/i18n/*/flat.txt


/*.txt
main_neu.js
test*.js

/*.njsproj
/.project

/log.txt
*.orig
*.done

/docs/iconos.zip
/docs/iconos/
/.vscode/launch.json
/MIGRATED_PROJECT.esproj
/nuget.config
/widget.html

.commitinfo
/.vscode/extensions.json
/iobroker.daswetter-3.2.6.tgz
/iobroker.daswetter-3.9.9.tgz

/docs/old_docu/
/iobroker.daswetter-4.0.0.tgz
